//fonts
@font-face {
  font-family: 'iconfont';  /* project id 939715 */
  src: url('//at.alicdn.com/t/font_939715_yxr3nmjid5m.eot');
  src: url('//at.alicdn.com/t/font_939715_yxr3nmjid5m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_939715_yxr3nmjid5m.woff') format('woff'),
  url('//at.alicdn.com/t/font_939715_yxr3nmjid5m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_939715_yxr3nmjid5m.svg#iconfont') format('svg');
}
//color
$main-color:#43c3ff;

//icon
.icon:after,.icon:before{
  font-family: 'iconfont';
  font-weight: lighter;
  font-style: normal;
}

.icon-marker{
  content:'\e603'
}


page{
  height: 100%;
}

view[class^=container]{
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f4f4;
}
